:root {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  border: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  box-shadow: none;
}
.unbounded {
  font-family: "Unbounded", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  overflow-y: auto;
}




