@use '../helpers/function.scss' as *;

.another-login {
	place-items: center;
	padding-top: 5%;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	opacity: 0.8;
	background: #000;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.close-auth{
    color: #fff;
    font-size: rem(30);
    cursor: pointer;
    position: absolute;
    left: 65%;
    top: 5%;
}

.roots_login {
	width: rem(520);
	height: rem(620);
	border-radius: 20px;
	background: #d9d9d9;
}
.login_h2 {
	padding-top: rem(52);
	margin-left: rem(60);
	margin-bottom: rem(45);
	color: #000;
	font-family: 'Unbounded';
	font-size: 40px;
	font-weight: 400;
	line-height: normal;
}
.form-login {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.gmail-input {
	border-radius: 7px;
	background: rgba(0, 0, 0, 0.2);
	width: rem(420);
	height: rem(40);
	border: transparent;
	margin-bottom: rem(20);
}
.option_login {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: rem(40);
}

.container-check {
	margin-right: rem(80);
	display: flex;
	justify-content: center;
}

.checkmark {
	color: #000;
	font-family: Unbounded;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.forgot_password_text {
	color: #000;
	font-family: Unbounded;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: underline;
}

.login-btn-input {
	margin-bottom: rem(45);
	border-radius: 7px;
	background: #ffbf00;
	border: transparent;
	width: rem(80);
	height: rem(40);
	color: #fff;
	font-family: 'Unbounded';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	position: relative;
	right: 10.4rem;
}

.after-form {
	width: rem(520);
	height: rem(220);
	background: #ffbf00;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.google-form {
	padding-top: rem(30);
	padding-left: rem(50);
}

.google-text {
	color: #000;
	font-family: Unbounded;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: rem(5);
}
.logo_google {
	width: rem(23);
	height: rem(23);
	cursor: pointer;
}
.redirect-reg {
	border-radius: 7px;
	border-color: transparent;
	border-radius: rem(7);
	background: #fff;
	color: #000;
	font-family: Unbounded;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: rem(210);
	height: rem(40);
}
