
.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 37.5em;
  height: 40.6em;

  border-radius: 1em;
  background: rgba(217, 217, 217, 1);

  .login {
    font-family: "Unbounded", serif;
    font-size: 2.5rem;
    color: black;
    line-height: normal;
  }

  .password {
    padding: 10px;
  }

  .gmail-input {
    width: 26.2rem;
    height: 1.5rem;
    background-color: rgba(117, 117, 117, 1);
    color: black;
    font-family: "Unbounded", serif;
    border-radius: 7px;
    border: none;
    ::placeholder{
      color: #000;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .login-btn {
    border-radius: 7px;
    width: 5.6em;
    align-items: center;
    justify-content: center;
    background: #FFBF00;
    height: 1.3em;
    padding: 0.7em;

    .login-btn-input {
      color: #FFF;
      font-family: "Unbounded", serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background-color: #FFBF00;
      border: none #FFBF00;
    }
  }

  .after-form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 39%;
    align-items: flex-start;
    width: 100%;
    background: #FFBF00;
    border-radius: 1em;
  }
}